body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Calibri'; 
    color:grey;
    position: relative;
    margin-left: 40px;
}  
.login{  
        width: 400px;  
        overflow: hidden;  
        margin: left;  
        margin: 20 0 0 20px;  
        padding: 20px;  
        background: #2c6156;  
        border-radius: 15px ;  
          
}  
.request{  
    width: 600px;  
    overflow: hidden;  
    margin: left;
    margin: 20 0 0 450px;  
    padding: 20px;
    background: #2c6156;  
    border-radius: 15px ;
    /*position: left;*/
      
}
h1{  
    text-align: center;  
    color: #009668;  
    padding: 20px;
   /* background: #2c6156; */
} 
h2{  
    text-align: left;  
    color: gray;
    padding: 20px;
} 
label{  
    color: white;  
    font-size: 17px;
    FONT-WEIGHT: bold;
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 200px;  
    height: 38px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px; 
    background: #ff9900ff;
    color:white;
    font-weight: bold;
  } 
#log2{  
    width: 100px;  
    height: 20px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px; 
    background: #ff9900ff;
    color:white;
    font-weight: bold;
  }  
#cancel{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px; 
    background: rgb(201, 27, 27);
    color:white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-top:8px;
  }  
#edit{  
    width: 60px;  
    height: 20px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 1px; 
    background: #ff9900ff;
    color:white;
    font-weight: bold;
  } 
span{  
    color: lightskyblue;  
    font-size: 17px;  
}  
a{  
    float: left;
    color: white;   
}  

/* para tabla */
#main-container{
    margin: 400 px;
    width: 400 px;
}
table{
    width:95%;
    text-align: left;
    column-rule: 2px grey;
    font: 'Calibri';
}
thead{
 background-color: #009668;
 border-bottom: solid 5px grey;
 color: white;
 text-align: center;   
}
.alert{  
    width: 400px;  
    overflow: hidden;  
    margin: left;  
    margin: 20 0 0 20px;  
    padding: 10px;  
    background: rgba(253, 146, 146, 0.363);  
    border-radius: 5px ;  
    color: rgb(160, 25, 25);
    font-weight: bold;    
} 
header {
    padding: 5px;
    background-color:  rgba(255, 153, 0, 0.705);
}

.table2{
width: 100% ;
}
#login_button{  
    width: 180px;  
    height: 30px;  
    border: none;  
    border-radius: 15px;  
    padding-left: 5px; 
    background: #009668;
    color:white;
    font-weight: bold;
  } 