body  
{  
    margin: 0;  
    padding: 0;  
    font-family: 'Calibri'; 
    color:grey;
    position: relative;
    margin-left: 40px;
}  
.login{  
        width: 400px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 20px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h1{  
    text-align: center;  
    color: #009668;  
    padding: 20px;  
}  
label{  
    color: #ff9900ff;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px; 
    background: #ff9900ff;
    color:white;
    font-weight: bold;
  }  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: left;   
}  

